html, body {
    font-size: 1.2rem;
    line-height: 1.5em;
    color: #333;
}

h1 {
    font-size: 4rem;
    line-height: 1.25em;
    margin-bottom: 0.35em;
}

h2 {
    font-size: 2rem;
    line-height: 1.4em;
    margin-bottom: 0.5em;
}

p, ul {
    margin-bottom: 1em;
}

.em {
    color: #669A08;
}

.main-section {
    min-height: 20rem;
}

.nested-section {
    max-width: 600px;
    padding: 2rem 2rem 3rem;
    margin: auto;
}

.main-section.intro {
    text-align: center;
}

.intro-alt-info {
    display: block;
    margin: 2rem auto;
}

.intro.loading {
    visibility: hidden;
}


@media only screen and (max-width: 930px) {
    .intro-alt-info {
        max-width: 80%;
    }
}
